html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  background-color: transparent;
}
img {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(5, 5, 53);
  color: #fff;
}

ul,
li {
  list-style: none;
}

ul.movies-wrap {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
ul.movies-wrap li.movie {
  padding: 5px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
ul.movies-wrap li.movie a {
  width: 200px;
}
ul.movies-wrap li.movie .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.movies-wrap li.movie h4 {
  margin: 20px 0;
  width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
  white-space: nowrap;
}
ul.movies-wrap li.movie img {
  max-width: 100%;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

ul.movies-wrap li.movie:hover img {
  transform: scale(1.05) translateY(-10px);
}
nav.header-wrap {
  padding: 0 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.header-wrap a {
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

ul.Gnb {
  padding: 0 10px;
  width: 100%;
  height: auto;
  position: relative;
}

ul.Gnb li {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}
ul.Gnb li:hover {
  background-color: rgba(77, 101, 125, 0.5);
}
ul.Gnb li a {
  font-weight: 600;
}

.about h3 {
  text-align: center;
}

.detail .bgWrap {
  padding: 0 20px;
}
.detail .bgWrap span {
  font-size: 12px;
}
